USE [master]
GO
/****** Object:  Database [Sage200APIMSAdvanced]    Script Date: 27/10/2025 12:53:26 ******/
CREATE DATABASE [Sage200APIMSAdvanced]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Sage200APIMSAdvanced', FILENAME = N'F:\General\Sage200APIMSAdvanced.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Sage200APIMSAdvanced_log', FILENAME = N'H:\General\Sage200APIMSAdvanced_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Sage200APIMSAdvanced].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Sage200APIMSAdvanced]
GO
USE [Sage200APIMSAdvanced]
GO
/****** Object:  Sequence [dbo].[Invoices_Id_Seq]    Script Date: 27/10/2025 12:53:27 ******/
CREATE SEQUENCE [dbo].[Invoices_Id_Seq] 
 AS [bigint]
 START WITH 4
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 27/10/2025 12:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApiKeys]    Script Date: 27/10/2025 12:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApiKeys](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Key] [nvarchar](200) NOT NULL,
	[ClientName] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ExpiresAt] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[LastUsedAt] [datetime2](7) NULL,
	[AllowedIpAddresses] [nvarchar](max) NOT NULL,
	[Version] [int] NOT NULL,
	[PreviousKey] [nvarchar](200) NULL,
	[PreviousKeyExpiresAt] [datetime2](7) NULL,
	[GracePeriodEnd] [datetime2](7) NULL,
 CONSTRAINT [PK_ApiKeys] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApiLogs]    Script Date: 27/10/2025 12:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApiLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Endpoint] [nvarchar](200) NOT NULL,
	[RequestMethod] [nvarchar](10) NOT NULL,
	[RequestPayload] [nvarchar](max) NOT NULL,
	[ResponsePayload] [nvarchar](max) NOT NULL,
	[HttpStatusCode] [int] NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[CallerId] [nvarchar](100) NOT NULL,
	[ApiType] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_ApiLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 27/10/2025 12:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[EventType] [int] NOT NULL,
	[Category] [int] NOT NULL,
	[Severity] [int] NOT NULL,
	[UserId] [nvarchar](100) NULL,
	[ClientId] [nvarchar](100) NULL,
	[IpAddress] [nvarchar](45) NOT NULL,
	[Resource] [nvarchar](100) NOT NULL,
	[Action] [nvarchar](100) NOT NULL,
	[Status] [int] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Details] [nvarchar](max) NOT NULL,
	[CorrelationId] [nvarchar](64) NOT NULL,
	[HttpMethod] [nvarchar](10) NOT NULL,
	[UrlPath] [nvarchar](2048) NOT NULL,
	[HttpStatusCode] [int] NULL,
	[DurationMs] [bigint] NULL,
	[UserAgent] [nvarchar](512) NOT NULL,
	[ReferenceId] [nvarchar](max) NULL,
	[ReferenceName] [nvarchar](max) NULL,
	[PreviousState] [nvarchar](max) NULL,
	[NewState] [nvarchar](max) NULL,
	[RetentionDays] [int] NOT NULL,
	[ExpiresAt] [datetime2](7) NULL,
 CONSTRAINT [PK_AuditLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 27/10/2025 12:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](200) NOT NULL,
	[CustomerCode] [nvarchar](50) NOT NULL,
	[AddressLine1] [nvarchar](200) NOT NULL,
	[AddressLine2] [nvarchar](200) NOT NULL,
	[City] [nvarchar](100) NOT NULL,
	[Postcode] [nvarchar](20) NOT NULL,
	[Telephone] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[SageId] [bigint] NULL,
	[IsSynced] [bit] NOT NULL,
	[LastSyncedAt] [datetime2](7) NULL,
	[ExternalKey] [nvarchar](100) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExternalIdLinks]    Script Date: 27/10/2025 12:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExternalIdLinks](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[AppId] [int] NOT NULL,
	[EntityType] [nvarchar](40) NOT NULL,
	[SageId] [bigint] NULL,
	[SageUrn] [nvarchar](128) NULL,
	[ExternalRef] [nvarchar](200) NOT NULL,
	[CreatedUtc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ExternalIdLinks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IdempotencyKeys]    Script Date: 27/10/2025 12:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IdempotencyKeys](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[KeyHash] [nvarchar](64) NOT NULL,
	[Resource] [nvarchar](64) NOT NULL,
	[RequestHash] [nvarchar](64) NOT NULL,
	[ResultSageId] [bigint] NULL,
	[CreatedUtc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_IdempotencyKeys] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IdempotencyRecords]    Script Date: 27/10/2025 12:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IdempotencyRecords](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KeyHash] [nvarchar](88) NOT NULL,
	[RequestHash] [nvarchar](max) NULL,
	[ResourceId] [bigint] NULL,
	[CreatedUtc] [datetime2](7) NOT NULL,
	[ExpiresUtc] [datetime2](7) NULL,
	[ResultSageUrn] [nvarchar](max) NULL,
 CONSTRAINT [PK_IdempotencyRecords] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 27/10/2025 12:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceReference] [nvarchar](50) NOT NULL,
	[CustomerId] [int] NULL,
	[GrossValue] [decimal](18, 2) NOT NULL,
	[OutstandingValue] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[LastCheckedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[SageId] [bigint] NULL,
	[IsSynced] [bit] NOT NULL,
	[LastSyncedAt] [datetime2](7) NULL,
	[Id] [bigint] NOT NULL,
	[ExternalKey] [nvarchar](100) NULL,
 CONSTRAINT [PK_Invoices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceStatusHistories]    Script Date: 27/10/2025 12:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceStatusHistories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceReference] [nvarchar](50) NOT NULL,
	[OutstandingValue] [decimal](18, 2) NOT NULL,
	[AllocatedValue] [decimal](18, 2) NOT NULL,
	[GrossValue] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[CheckTimestamp] [datetime2](7) NOT NULL,
	[Source] [nvarchar](30) NOT NULL,
	[CheckedBy] [nvarchar](100) NOT NULL,
	[CorrelationId] [nvarchar](64) NOT NULL,
 CONSTRAINT [PK_InvoiceStatusHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OAuthTokens]    Script Date: 27/10/2025 12:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OAuthTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Provider] [nvarchar](max) NOT NULL,
	[Audience] [nvarchar](max) NOT NULL,
	[ProtectedRefreshToken] [nvarchar](max) NULL,
	[AccessTokenExpiresUtc] [datetimeoffset](7) NULL,
	[UpdatedUtc] [datetimeoffset](7) NOT NULL,
	[Scope] [nvarchar](max) NULL,
 CONSTRAINT [PK_OAuthTokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionAttempts]    Script Date: 27/10/2025 12:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionAttempts](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CorrelationId] [nvarchar](64) NOT NULL,
	[ReceivedTimestamp] [datetime2](7) NOT NULL,
	[SourceSystem] [nvarchar](50) NOT NULL,
	[TriggeringEventId] [nvarchar](200) NOT NULL,
	[EntityType] [nvarchar](50) NOT NULL,
	[Payload] [varbinary](max) NULL,
	[ProcessingStatus] [nvarchar](50) NOT NULL,
	[KafkaTopic] [nvarchar](100) NULL,
	[KafkaPartition] [int] NULL,
	[KafkaOffset] [bigint] NULL,
	[KafkaMessageKey] [nvarchar](200) NULL,
	[SiteId] [nvarchar](64) NULL,
	[CompanyId] [nvarchar](32) NULL,
	[IdempotencyKeyHash] [nvarchar](88) NULL,
	[ExternalRef] [nvarchar](200) NULL,
	[ApiKeyId] [int] NULL,
	[ProcessingStartedUtc] [datetime2](7) NULL,
	[ProcessingCompletedUtc] [datetime2](7) NULL,
	[DurationMs] [int] NULL,
	[AttemptNumber] [int] NOT NULL,
	[RetryCount] [int] NOT NULL,
	[SageUrn] [nvarchar](128) NULL,
	[SageId] [bigint] NULL,
	[ResultCode] [nvarchar](50) NULL,
	[ResultMessage] [nvarchar](1024) NULL,
	[OriginalHeadersJson] [nvarchar](4000) NULL,
 CONSTRAINT [PK_TransactionAttempts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UX_TransactionAttempts_KafkaUnique] UNIQUE NONCLUSTERED 
(
	[KafkaTopic] ASC,
	[KafkaPartition] ASC,
	[KafkaOffset] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ApiKeys_Key]    Script Date: 27/10/2025 12:53:27 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ApiKeys_Key] ON [dbo].[ApiKeys]
(
	[Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_ApiKeys_Key]    Script Date: 27/10/2025 12:53:27 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_ApiKeys_Key] ON [dbo].[ApiKeys]
(
	[Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ApiLogs_Timestamp]    Script Date: 27/10/2025 12:53:27 ******/
CREATE NONCLUSTERED INDEX [IX_ApiLogs_Timestamp] ON [dbo].[ApiLogs]
(
	[Timestamp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AuditLogs_CorrelationId]    Script Date: 27/10/2025 12:53:27 ******/
CREATE NONCLUSTERED INDEX [IX_AuditLogs_CorrelationId] ON [dbo].[AuditLogs]
(
	[CorrelationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuditLogs_Timestamp]    Script Date: 27/10/2025 12:53:27 ******/
CREATE NONCLUSTERED INDEX [IX_AuditLogs_Timestamp] ON [dbo].[AuditLogs]
(
	[Timestamp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuditLogs_Ts]    Script Date: 27/10/2025 12:53:27 ******/
CREATE NONCLUSTERED INDEX [IX_AuditLogs_Ts] ON [dbo].[AuditLogs]
(
	[Timestamp] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Customers_CustomerCode]    Script Date: 27/10/2025 12:53:27 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Customers_CustomerCode] ON [dbo].[Customers]
(
	[CustomerCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Customers_CustomerCode]    Script Date: 27/10/2025 12:53:27 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Customers_CustomerCode] ON [dbo].[Customers]
(
	[CustomerCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ExternalIdLinks_AppId_EntityType_ExternalRef]    Script Date: 27/10/2025 12:53:27 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ExternalIdLinks_AppId_EntityType_ExternalRef] ON [dbo].[ExternalIdLinks]
(
	[AppId] ASC,
	[EntityType] ASC,
	[ExternalRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ExternalIdLinks_EntityType_SageId]    Script Date: 27/10/2025 12:53:27 ******/
CREATE NONCLUSTERED INDEX [IX_ExternalIdLinks_EntityType_SageId] ON [dbo].[ExternalIdLinks]
(
	[EntityType] ASC,
	[SageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ExternalIdLinks_EntityType_SageUrn]    Script Date: 27/10/2025 12:53:27 ******/
CREATE NONCLUSTERED INDEX [IX_ExternalIdLinks_EntityType_SageUrn] ON [dbo].[ExternalIdLinks]
(
	[EntityType] ASC,
	[SageUrn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_IdempotencyKeys_KeyHash_Resource]    Script Date: 27/10/2025 12:53:27 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_IdempotencyKeys_KeyHash_Resource] ON [dbo].[IdempotencyKeys]
(
	[KeyHash] ASC,
	[Resource] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_IdempotencyRecords_KeyHash]    Script Date: 27/10/2025 12:53:27 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_IdempotencyRecords_KeyHash] ON [dbo].[IdempotencyRecords]
(
	[KeyHash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Invoices_CustomerId]    Script Date: 27/10/2025 12:53:27 ******/
CREATE NONCLUSTERED INDEX [IX_Invoices_CustomerId] ON [dbo].[Invoices]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Invoices_InvoiceReference]    Script Date: 27/10/2025 12:53:27 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Invoices_InvoiceReference] ON [dbo].[Invoices]
(
	[InvoiceReference] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Invoices_InvoiceReference]    Script Date: 27/10/2025 12:53:27 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Invoices_InvoiceReference] ON [dbo].[Invoices]
(
	[InvoiceReference] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_InvoiceStatusHistories_InvoiceReference_CheckTimestamp]    Script Date: 27/10/2025 12:53:27 ******/
CREATE NONCLUSTERED INDEX [IX_InvoiceStatusHistories_InvoiceReference_CheckTimestamp] ON [dbo].[InvoiceStatusHistories]
(
	[InvoiceReference] ASC,
	[CheckTimestamp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ISH_Ref_CheckTs]    Script Date: 27/10/2025 12:53:27 ******/
CREATE NONCLUSTERED INDEX [IX_ISH_Ref_CheckTs] ON [dbo].[InvoiceStatusHistories]
(
	[InvoiceReference] ASC,
	[CheckTimestamp] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TransactionAttempts_CorrelationId]    Script Date: 27/10/2025 12:53:27 ******/
CREATE NONCLUSTERED INDEX [IX_TransactionAttempts_CorrelationId] ON [dbo].[TransactionAttempts]
(
	[CorrelationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TransactionAttempts_EntityType_SageId]    Script Date: 27/10/2025 12:53:27 ******/
CREATE NONCLUSTERED INDEX [IX_TransactionAttempts_EntityType_SageId] ON [dbo].[TransactionAttempts]
(
	[EntityType] ASC,
	[SageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TransactionAttempts_EntityType_SageUrn]    Script Date: 27/10/2025 12:53:27 ******/
CREATE NONCLUSTERED INDEX [IX_TransactionAttempts_EntityType_SageUrn] ON [dbo].[TransactionAttempts]
(
	[EntityType] ASC,
	[SageUrn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TransactionAttempts_IdempotencyKeyHash]    Script Date: 27/10/2025 12:53:27 ******/
CREATE NONCLUSTERED INDEX [IX_TransactionAttempts_IdempotencyKeyHash] ON [dbo].[TransactionAttempts]
(
	[IdempotencyKeyHash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TransactionAttempts_ProcessingStatus_InProgress]    Script Date: 27/10/2025 12:53:27 ******/
CREATE NONCLUSTERED INDEX [IX_TransactionAttempts_ProcessingStatus_InProgress] ON [dbo].[TransactionAttempts]
(
	[ProcessingStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TransactionAttempts_SourceSystem_TriggeringEventId]    Script Date: 27/10/2025 12:53:27 ******/
CREATE NONCLUSTERED INDEX [IX_TransactionAttempts_SourceSystem_TriggeringEventId] ON [dbo].[TransactionAttempts]
(
	[SourceSystem] ASC,
	[TriggeringEventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ApiKeys] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ApiKeys] ADD  DEFAULT ((1)) FOR [Version]
GO
ALTER TABLE [dbo].[ApiLogs] ADD  DEFAULT (sysutcdatetime()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT (sysutcdatetime()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (N'') FOR [AddressLine1]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (N'') FOR [AddressLine2]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (N'System') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[ExternalIdLinks] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedUtc]
GO
ALTER TABLE [dbo].[IdempotencyKeys] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedUtc]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT (N'System') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[Invoices] ADD  CONSTRAINT [DF_Invoices_Id]  DEFAULT (NEXT VALUE FOR [dbo].[Invoices_Id_Seq]) FOR [Id]
GO
ALTER TABLE [dbo].[InvoiceStatusHistories] ADD  DEFAULT ((0.0)) FOR [AllocatedValue]
GO
ALTER TABLE [dbo].[InvoiceStatusHistories] ADD  DEFAULT (sysutcdatetime()) FOR [CheckTimestamp]
GO
ALTER TABLE [dbo].[InvoiceStatusHistories] ADD  DEFAULT (N'System') FOR [CheckedBy]
GO
ALTER TABLE [dbo].[InvoiceStatusHistories] ADD  CONSTRAINT [DF_InvoiceStatusHistories_CorrelationId]  DEFAULT (CONVERT([nvarchar](64),newid())) FOR [CorrelationId]
GO
ALTER TABLE [dbo].[TransactionAttempts] ADD  DEFAULT (sysutcdatetime()) FOR [ReceivedTimestamp]
GO
ALTER TABLE [dbo].[TransactionAttempts] ADD  DEFAULT ((1)) FOR [AttemptNumber]
GO
ALTER TABLE [dbo].[TransactionAttempts] ADD  DEFAULT ((0)) FOR [RetryCount]
GO
ALTER TABLE [dbo].[ExternalIdLinks]  WITH CHECK ADD  CONSTRAINT [FK_ExternalIdLinks_ApiKeys_AppId] FOREIGN KEY([AppId])
REFERENCES [dbo].[ApiKeys] ([Id])
GO
ALTER TABLE [dbo].[ExternalIdLinks] CHECK CONSTRAINT [FK_ExternalIdLinks_ApiKeys_AppId]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Customers_CustomerId]
GO
ALTER TABLE [dbo].[TransactionAttempts]  WITH CHECK ADD  CONSTRAINT [FK_TransactionAttempts_ApiKeys_ApiKeyId] FOREIGN KEY([ApiKeyId])
REFERENCES [dbo].[ApiKeys] ([Id])
GO
ALTER TABLE [dbo].[TransactionAttempts] CHECK CONSTRAINT [FK_TransactionAttempts_ApiKeys_ApiKeyId]
GO
ALTER TABLE [dbo].[ExternalIdLinks]  WITH CHECK ADD  CONSTRAINT [CK_ExternalIdLink_SageIdOrUrn] CHECK  (([SageId] IS NOT NULL OR [SageUrn] IS NOT NULL))
GO
ALTER TABLE [dbo].[ExternalIdLinks] CHECK CONSTRAINT [CK_ExternalIdLink_SageIdOrUrn]
GO
/****** Object:  StoredProcedure [dbo].[prc_OAuthTokens_AllowDeleteOnce]    Script Date: 27/10/2025 12:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE   PROCEDURE [dbo].[prc_OAuthTokens_AllowDeleteOnce]
AS
BEGIN
SET NOCOUNT ON;
EXEC sys.sp_set_session_context @key = N'AllowOAuthTokensDelete', @value = 1, @read_only = 0;
END

GO
USE [master]
GO
