{
  "swagger": "2.0",
  "info": {
    "title": "Sage 200 v1 Extra Sales",
    "version": "1.0"
  },
  "host": "api.columbus.sage.com",
  "basePath": "/uk/sage200extra/accounts/v1/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/customers": {
      "x-sage-pathtitle": "Customers",
      "x-sage-changelog": [
        {
          "date": "21/01/2017",
          "title": "Extended operation",
          "description": "This operation now includes the field 'account_status_type', which represents the status of the customer account. This can either be 'Active' or 'Hidden'."
        },
        {
          "date": "09/05/2019",
          "title": "Extended operation",
          "description": "This operation now supports analysis codes 6-20 in professional."
        },
        {
          "date": "16/09/2020",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'status_reason', 'account_type', 'early_settlement_discount_percent', 'early_settlement_discount_days', 'payment_terms_days', 'payment_terms_basis', 'credit_memo_note', 'terms_agreed', 'credit_bureau_id', 'credit_position_id', 'finance_charge_id', 'trading_terms', 'credit_reference', 'account_opened', 'last_credit_review', 'next_credit_review', 'application_date', 'date_received', 'date_finance_charge_last_run', 'office_type', 'associated_head_office_id', 'produce_statements_for_customer', 'use_consolidated_billing', 'order_priority', 'use_tax_code_as_default', 'months_to_keep_transactions', 'default_nominal_code_reference', 'default_nominal_code_cost_centre', 'default_nominal_code_department', 'invoice_discount_percent', 'invoice_line_discount_percent', 'customer_discount_group_id', 'order_value_discount_id', 'price_band_id', 'associated_head_office', 'credit_bureau', 'credit_position', 'customer_discount_group', 'finance_charge', 'order_value_discount', 'price_band', 'sales_credit_note_layout', 'sales_invoice_layout', 'statement_layout', 'status' and 'date_time_created'."
        },
        {
          "date": "02/11/2020",
          "title": "Enhanced endpoint field",
          "description": "This operation now includes the field 'cards'."
        },
        {
          "date": "15/03/2021",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'alerts', 'limited_price_bands' and 'memos'."
        },
        {
          "date": "26/07/2021",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'default_nominal_code' and 'is_head_office_with_branches'."
        },
        {
          "date": "14/08/2023",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'default_nominal_code_id', 'spare_text_1', 'spare_text_2', 'spare_text_3', 'spare_text_4', 'spare_text_5', 'spare_text_6', 'spare_text_7', 'spare_text_8', 'spare_text_9', 'spare_text_10', 'spare_number_1', 'spare_number_2', 'spare_number_3', 'spare_number_4', 'spare_number_5', 'spare_number_6', 'spare_number_7', 'spare_number_8', 'spare_number_9', 'spare_number_10', 'spare_date_1', 'spare_date_2', 'spare_date_3', 'spare_date_4', 'spare_date_5', 'spare_bool_1', 'spare_bool_2', 'spare_bool_3', 'spare_bool_4' and 'spare_bool_5'."
        },
        {
          "date": "02/06/2025",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'last_follow_up_date', 'has_promised_payment' and 'communications'."
        }
      ],
      "get": {
        "summary": "Customers",
        "description": "Customers are one of the most important entities within Sage 200 as they are associated to many important resources within the application and underpin most of the main features (e.g. sales orders, payment receipts, etc.). When making larger requests for customer information, the Customer Views resource can be a faster alternative to this resource.",
        "operationId": "GetCustomers",
        "responses": {
          "200": {
            "description": "The list of customers has been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/customer"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customers"
        ]
      },
      "post": {
        "summary": "Customers",
        "description": "Customers are one of the most important entities within Sage 200 as they are associated to many important resources within the application and underpin most of the main features (e.g. sales orders, payment receipts, etc.).",
        "operationId": "PostCustomer",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Customer",
            "in": "body",
            "description": "Customer to add to Sage 200 Sales Ledger.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/customer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The customer was created. Response body will include the customer details.",
            "schema": {
              "$ref": "#/definitions/customer"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customers"
        ]
      }
    },
    "/customers/{Id}": {
      "x-sage-pathtitle": "Customer",
      "get": {
        "summary": "Customer",
        "description": "Customers are one of the most important entities within Sage 200 as they are associated to many important resources within the application and underpin most of the main features (e.g. sales orders, payment receipts, etc.).",
        "operationId": "GetCustomer",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of customer successfully returned.",
            "schema": {
              "$ref": "#/definitions/customer"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customers"
        ]
      },
      "put": {
        "summary": "Customer",
        "description": "Customers are one of the most important entities within Sage 200 as they are associated to many important resources within the application and underpin most of the main features (e.g. sales orders, payment receipts, etc.).",
        "operationId": "PutCustomer",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer.",
            "required": true,
            "type": "number"
          },
          {
            "name": "Customer",
            "in": "body",
            "description": "Customer to update in Sage 200 Sales Ledger.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/customer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The customer was updated. Response body will include the customer details.",
            "schema": {
              "$ref": "#/definitions/customer"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customers"
        ]
      },
      "delete": {
        "summary": "Customer",
        "description": "Customers are one of the most important entities within Sage 200 as they are associated with many important resources within the application and underpin most of the main features (e.g. sales orders, payment receipts, etc.).",
        "operationId": "DeleteCustomer",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer was deleted."
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customers"
        ]
      }
    },
    "/customers_new": {
      "x-sage-pathtitle": "New customer with defaults",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "New endpoint",
          "description": "This endpoint was added."
        },
        {
          "date": "02/11/2020",
          "title": "Enhanced endpoint field",
          "description": "This operation now includes the field 'cards'."
        },
        {
          "date": "26/07/2021",
          "title": "Enhanced endpoint field",
          "description": "This operation now includes the field 'default_nominal_code'."
        },
        {
          "date": "14/08/2023",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'default_nominal_code_id', 'spare_text_1', 'spare_text_2', 'spare_text_3', 'spare_text_4', 'spare_text_5', 'spare_text_6', 'spare_text_7', 'spare_text_8', 'spare_text_9', 'spare_text_10', 'spare_number_1', 'spare_number_2', 'spare_number_3', 'spare_number_4', 'spare_number_5', 'spare_number_6', 'spare_number_7', 'spare_number_8', 'spare_number_9', 'spare_number_10', 'spare_date_1', 'spare_date_2', 'spare_date_3', 'spare_date_4', 'spare_date_5', 'spare_bool_1', 'spare_bool_2', 'spare_bool_3', 'spare_bool_4' and 'spare_bool_5'."
        },
        {
          "date": "02/06/2025",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'last_follow_up_date', 'has_promised_payment' and 'communications'."
        }
      ],
      "post": {
        "summary": "New Customer With Defaults",
        "description": "Returns a customer with all the defaults that have been specified within the application. The API endpoint does not persist the customer.",
        "operationId": "PostCustomersNew",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Empty",
            "in": "body",
            "description": "An empty request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/customers_new_request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The customer with defaults was successfully returned. Response body will include the customer details.",
            "schema": {
              "$ref": "#/definitions/customer"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customers"
        ]
      }
    },
    "/statement_layout_types": {
      "x-sage-pathtitle": "Statement layout types",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "Statement Layout Types",
        "description": "Statement layout types are used to determine statement production when printing documents for customers within the application. Statement layout types can be 'Paper Standard', 'Paper Alternative', 'Email Standard' or 'Email Alternative'.<P>The API endpoint returns details of the statement layout types that can be used.</P>",
        "operationId": "GetStatementLayoutTypes",
        "responses": {
          "200": {
            "description": "The details of the statement layout types have been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/statement_layout_type"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Statement Layout Types"
        ]
      }
    },
    "/customer_contacts": {
      "x-sage-pathtitle": "Customer contacts",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'roles' and 'date_time_created'."
        }
      ],
      "get": {
        "summary": "Customer Contacts",
        "description": "Information can be stored for multiple contacts against each customer account. Each contact can have its own details such as telephone numbers, fax numbers, email address and website.",
        "operationId": "GetCustomerContact",
        "responses": {
          "200": {
            "description": "The list of customer contacts has been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/customer_contact"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Contacts"
        ]
      }
    },
    "/customer_contacts/{Id}": {
      "x-sage-pathtitle": "Customer contact",
      "get": {
        "summary": "Customer Contact",
        "description": "Information can be stored for multiple contacts against each customer account. Each contact can have its own details such as telephone numbers, fax numbers, email address and website.",
        "operationId": "GetCustomerContacts",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of a customer contact have been successfully returned.",
            "schema": {
              "$ref": "#/definitions/customer_contact"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Contacts"
        ]
      },
      "delete": {
        "summary": "Customer Contact",
        "description": "Delete a customer contact.",
        "operationId": "DeleteCustomerContact",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer contact was deleted."
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Contacts"
        ]
      },
      "put": {
        "summary": "Customer Contact",
        "description": "Update a customer contact in the Sage 200 Sales Ledger.",
        "operationId": "PutCustomerContact",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "type": "number"
          },
          {
            "name": "customer_contact",
            "in": "body",
            "description": "Customer contact to update in Sage 200 Sales Ledger.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/customer_contact"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The customer contact was updated. Response body will include the customer details.",
            "schema": {
              "$ref": "#/definitions/customer_contact"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Contacts"
        ]
      }
    },
    "/customers/{customerId}/customer_contacts": {
      "x-sage-pathtitle": "Customer contacts for customer",
      "get": {
        "summary": "Customer Contacts For Customer",
        "description": "Information can be stored for multiple contacts against each customer account.  Each contact can have its own details such as telephone numbers, fax numbers, email address and website.",
        "operationId": "GetCustomerContactsForCustomer",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Unique Id of the customer.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of customer contacts has been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/customer_contact"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Contacts"
        ]
      },
      "post": {
        "summary": "Customer Contacts For Customer",
        "description": "Create a new customer contact for a customer in the Sage 200 Sales Ledger.",
        "operationId": "PostCustomerContactForCustomer",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Unique Id of the customer.",
            "required": true,
            "type": "number"
          },
          {
            "name": "customer_contact",
            "in": "body",
            "description": "Customer contact to add to the customer account.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/customer_contact"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The customer contact was created. Response body will include the customer contact details.",
            "schema": {
              "$ref": "#/definitions/customer_contact"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Contacts"
        ]
      }
    },
    "/customers/{customerId}/customer_contacts/{Id}": {
      "x-sage-pathtitle": "Customer contact for customer",
      "get": {
        "summary": "Customer Contact For Customer",
        "description": "Information can be stored for multiple contacts against each customer account.  Each contact can have its own details such as telephone numbers, fax numbers, email address and website.",
        "operationId": "GetCustomerContactForCustomer",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Unique Id of the customer.",
            "required": true,
            "type": "number"
          },
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer contact has been successfully returned.",
            "schema": {
              "$ref": "#/definitions/customer_contact"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Contacts"
        ]
      },
      "delete": {
        "summary": "Customer Contact For Customer",
        "description": "Delete a customer contact for a customer.",
        "operationId": "DeleteCustomerContactForCustomer",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Unique Id of the customer.",
            "required": true,
            "type": "number"
          },
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer contact was deleted."
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Contacts"
        ]
      },
      "put": {
        "summary": "Customer Contact For Customer",
        "description": "Update a customer contact for customer in the Sage 200 Sales Ledger.",
        "operationId": "PutCustomerContactForCustomer",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Unique Id of the customer.",
            "required": true,
            "type": "number"
          },
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "type": "number"
          },
          {
            "name": "customer_contact",
            "in": "body",
            "description": "Customer contact to update in Sage 200 Sales Ledger.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/customer_contact"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The customer contact was updated. Response body will include the customer details.",
            "schema": {
              "$ref": "#/definitions/customer_contact"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Contacts"
        ]
      }
    },
    "/customer_alerts": {
      "x-sage-pathtitle": "Customer Alert",
      "x-sage-changelog": [
        {
          "date": "15/03/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "Customer Alert",
        "description": "Alerts are messages that can be displayed when a user performs a particular task. You can show alerts when entering invoices or credit notes, sales orders and returns, quotations and pro forma invoices, and for customer price enquiries.",
        "operationId": "GetCustomerAlerts",
        "responses": {
          "200": {
            "description": "The list of customer alerts has been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/customer_alert"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Alerts"
        ]
      },
      "post": {
        "summary": "Customer Alert",
        "description": "Alerts are messages that can be displayed when a user performs a particular task. You can show alerts when entering invoices or credit notes, sales orders and returns, quotations and pro forma invoices, and for customer price enquiries.",
        "operationId": "PostCustomerAlert",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "CustomerAlert",
            "in": "body",
            "description": "Customer alert to add.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/customer_alert"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The customer alert was created. Response body will include the customer alert details.",
            "schema": {
              "$ref": "#/definitions/customer_alert"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Alerts"
        ]
      }
    },
    "/customer_alerts/{Id}": {
      "x-sage-pathtitle": "Customer Alert",
      "get": {
        "summary": "Customer Alert",
        "description": "Return a single customer alert resource by supplying a customer alert Id.",
        "operationId": "GetCustomerAlert",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer alert.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of customer alert successfully returned.",
            "schema": {
              "$ref": "#/definitions/customer_alert"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Alerts"
        ]
      },
      "put": {
        "summary": "Customer Alert",
        "description": "Alerts are messages that can be displayed when a user performs a particular task. You can show alerts when entering invoices or credit notes, sales orders and returns, quotations and pro forma invoices, and for customer price enquiries.",
        "operationId": "PutCustomerAlert",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer alert.",
            "required": true,
            "type": "number"
          },
          {
            "name": "Customer Alert",
            "in": "body",
            "description": "Customer alert to update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/customer_alert"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The customer alert was updated. Response body will include the customer alert details.",
            "schema": {
              "$ref": "#/definitions/customer_alert"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Alerts"
        ]
      },
      "delete": {
        "summary": "Customer Alert",
        "description": "Alerts are messages that can be displayed when a user performs a particular task. You can show alerts when entering invoices or credit notes, sales orders and returns, quotations and pro forma invoices, and for customer price enquiries.",
        "operationId": "DeleteCustomerAlert",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer alert.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer alert was deleted."
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Alerts"
        ]
      }
    },
    "/customer_memos": {
      "x-sage-pathtitle": "Customer memos",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "Enhanced endpoint field",
          "description": "This operation now includes the field 'date_time_created'."
        },
        {
          "date": "15/03/2021",
          "title": "Enhanced endpoint field",
          "description": "This operation now includes the field 'is_to_delete'."
        }
      ],
      "get": {
        "summary": "Customer Memos",
        "description": "Memos are sections of text that can be used to make comments about a customer account such as reminders, or notes (e.g. if there is currently a dispute over an order).<br/><br/>Multiple memos can be added to each account. The user that created the memo, the date it was created and last updated date and time are also recorded.<br/><br/>A user can also specify if a memo is currently 'Active' or 'Inactive'. This allows a user to keep a record of previous memos without deleting them.",
        "operationId": "GetCustomerMemos",
        "responses": {
          "200": {
            "description": "The list of customer memos has been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/customer_memo"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Memos"
        ]
      },
      "post": {
        "summary": "Customer Memos",
        "description": "Memos are sections of text that can be used to make comments about a customer account such as reminders, or notes (e.g. if there is currently a dispute over an order).<br/><br/>Multiple memos can be added to each account. The user that created the memo, the date it was created and last updated date and time are also recorded.<br/><br/>A user can also specify if a memo is currently 'Active' or 'Inactive'. This allows a user to keep a record of previous memos without deleting them.",
        "operationId": "PostCustomerMemo",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "CustomerMemo",
            "in": "body",
            "description": "Customer memo to add.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/customer_memo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The customer memo was created. Response body will include the customer memo details.",
            "schema": {
              "$ref": "#/definitions/customer_memo"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Memos"
        ]
      }
    },
    "/customer_memos/{Id}": {
      "x-sage-pathtitle": "Customer memo",
      "get": {
        "summary": "Customer Memo",
        "description": "Memos are sections of text that can be used to make comments about a customer account such as reminders, or notes (e.g. if there is currently a dispute over an order).<br/><br/>Multiple memos can be added to each account. The user that created the memo, the date it was created and last updated date and time are also recorded.<br/><br/>A user can also specify if a memo is currently 'Active' or 'Inactive'. This allows a user to keep a record of previous memos without deleting them.",
        "operationId": "GetCustomerMemo",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer memo.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of customer memo successfully returned.",
            "schema": {
              "$ref": "#/definitions/customer_memo"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Memos"
        ]
      },
      "put": {
        "summary": "Customer Memo",
        "description": "Memos are sections of text that can be used to make comments about a customer account such as reminders, or notes (e.g. if there is currently a dispute over an order).<br/><br/>Multiple memos can be added to each account. The user that created the memo, the date it was created and last updated date and time are also recorded.<br/><br/>A user can also specify if a memo is currently 'Active' or 'Inactive'. This allows a user to keep a record of previous memos without deleting them.",
        "operationId": "PutCustomerMemo",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer memo.",
            "required": true,
            "type": "number"
          },
          {
            "name": "CustomerMemo",
            "in": "body",
            "description": "Customer memo to update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/customer_memo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The customer memo was updated. Response body will include the customer memo details.",
            "schema": {
              "$ref": "#/definitions/customer_memo"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Memos"
        ]
      },
      "delete": {
        "summary": "Customer Memo",
        "description": "Memos are sections of text that can be used to make comments about a customer account such as reminders, or notes (e.g. if there is currently a dispute over an order).<br/><br/>Multiple memos can be added to each account. The user that created the memo, the date it was created and last updated date and time are also recorded.<br/><br/>A user can also specify if a memo is currently 'Active' or 'Inactive'. This allows a user to keep a record of previous memos without deleting them.",
        "operationId": "DeleteCustomerMemo",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer memo.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer memo was deleted."
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Memos"
        ]
      }
    },
    "/customers/{customerId}/customer_alerts": {
      "x-sage-pathtitle": "Customer alerts for customer",
      "get": {
        "summary": "Customer Alerts For Customer",
        "description": "Alerts are messages that can be displayed when a user performs a particular task. You can show alerts when entering invoices or credit notes, sales orders and returns, quotations and pro forma invoices, and for customer price enquiries.",
        "operationId": "GetCustomerAlertsForCustomer",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Unique Id of the customer.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of customer alerts for a customer has been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/customer_alert"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Alerts"
        ]
      }
    },
    "/customers/{customerId}/customer_memos": {
      "x-sage-pathtitle": "Customer memos for customer",
      "get": {
        "summary": "Customer Memos For Customer",
        "description": "Memos are sections of text that can be used to make comments about a customer account such as reminders, or notes (e.g. if there is currently a dispute over an order).<br/><br/>Multiple memos can be added to each account. The user that created the memo, the date it was created and last updated date and time are also recorded.<br/><br/>A user can also specify if a memo is currently 'Active' or 'Inactive'. This allows a user to keep a record of previous memos without deleting them.",
        "operationId": "GetCustomerMemosForCustomer",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Unique Id of the customer.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of customer memos for a customer has been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/customer_memo"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Memos"
        ]
      }
    },
    "/customer_cards": {
      "x-sage-pathtitle": "Customer cards",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "Customer Cards",
        "description": "Customer cards are the credit cards used by the customer. They are created when a transaction is made using an Online Card Provider. The description used for the card can be renamed, or the card removed. Multiple cards can be associated with one account. The date and time that the card was last used is also recorded.",
        "operationId": "GetCustomerCards",
        "responses": {
          "200": {
            "description": "The list of customer cards has been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/customer_card"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Cards"
        ]
      }
    },
    "/customer_cards/{Id}": {
      "x-sage-pathtitle": "Customer card",
      "get": {
        "summary": "Customer Card",
        "description": "Customer cards are the credit cards used by the customer. They are created when a transaction is made using an Online Card Provider. The description used for the card can be renamed, or the card removed. Multiple cards can be associated with one account. The date and time that the card was last used is also recorded.",
        "operationId": "GetCustomerCard",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer card.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "The details of the customer card has been successfully returned.",
            "schema": {
              "$ref": "#/definitions/customer_card"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Cards"
        ]
      },
      "put": {
        "summary": "Customer Card",
        "description": "Customer cards are the credit cards used by the customer. They are created when a transaction is made using an Online Card Provider. The description used for the card can be renamed, or the card removed. Multiple cards can be associated with one account. The date and time that the card was last used is also recorded.",
        "operationId": "PutCustomerCard",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer card.",
            "required": true,
            "type": "number"
          },
          {
            "name": "CustomerCard",
            "in": "body",
            "description": "Customer card to update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/customer_card"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The customer cards were updated. Response body will include the customer cards.",
            "schema": {
              "$ref": "#/definitions/customer_card"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Cards"
        ]
      },
      "delete": {
        "summary": "Customer Card",
        "description": "Customer cards are the credit cards used by the customer. They are created when a transaction is made using an Online Card Provider. The description used for the card can be renamed, or the card removed. Multiple cards can be associated with one account. The date and time that the card was last used is also recorded.",
        "operationId": "DeleteCustomerCard",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer card.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer card was deleted."
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Cards"
        ]
      }
    },
    "/customers/{customerId}/customer_cards": {
      "x-sage-pathtitle": "Customer cards for customer",
      "get": {
        "summary": "Customer Cards For Customer",
        "description": "Customer cards are the credit cards used by the customer. They are created when a transaction is made using an Online Card Provider. The description used for the card can be renamed, or the card removed. Multiple cards can be associated with one account. The date and time that the card was last used is also recorded.",
        "operationId": "GetCustomerCardsForCustomer",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Unique Id of the customer.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of customer cards for a customer has been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/customer_card"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Cards"
        ]
      }
    },
    "/sales_trading_periods": {
      "x-sage-pathtitle": "Sales trading periods",
      "x-sage-professional-only": true,
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "Extended operations",
          "description": "This endpoint was enhanced with POST and PUT operations."
        },
        {
          "date": "16/09/2020",
          "title": "Enhanced endpoint field",
          "description": "This operation now includes the field 'date_time_created'."
        },
        {
          "date": "14/08/2023",
          "title": "Removed operations",
          "description": "The PUT and POST operations for the endpoint that were added in the last update have now been removed. The previous endpoints should not be used, as they were included in error and do not perform the required validation. New PUT and POST operations will be included in a future release."
        }
      ],
      "get": {
        "summary": "Sales Trading Periods",
        "description": "This resource returns the details of all sales trading periods for all financial years held for the company. A company can have the trading periods set to be the same as the accounting periods or as different periods. (Sage 200 Professional only, Sage 200 Standard defaults to financial year periods).",
        "operationId": "GetSalesTradingPeriods",
        "responses": {
          "200": {
            "description": "The details of the accounting periods have been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/sales_trading_period"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Sales Trading Periods"
        ]
      }
    },
    "/sales_trading_periods/{Id}": {
      "x-sage-pathtitle": "Sales trading period",
      "x-sage-professional-only": true,
      "get": {
        "summary": "Sales Trading Period",
        "description": "This resource returns the details of all sales trading periods for all financial years held for the company. A company can have the trading periods set to be the same as the accounting periods or as different periods. (Sage 200 Professional only, Sage 200 Standard defaults to financial year periods).",
        "operationId": "GetSalesTradingPeriod",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the sales trading period.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "The details of the trading periods have been successfully returned.",
            "schema": {
              "$ref": "#/definitions/sales_trading_period"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Sales Trading Periods"
        ]
      }
    },
    "/customer_emails": {
      "x-sage-pathtitle": "Customer emails",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "Enhanced endpoint field",
          "description": "This operation now includes the field 'date_time_created'."
        }
      ],
      "get": {
        "summary": "Customer Emails",
        "description": "Contact specific email addresses can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "GetCustomerEmails",
        "responses": {
          "200": {
            "description": "The collection of customer emails has been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/customer_email"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Emails"
        ]
      }
    },
    "/customer_contacts/{CustomerContactId}/customer_emails": {
      "x-sage-pathtitle": "Customer emails by contact",
      "get": {
        "summary": "Customer Emails By Contact",
        "description": "Contact specific email addresses can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "GetCustomerEmailsForCustomerContact",
        "parameters": [
          {
            "name": "CustomerContactId",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "The collection of customer emails has been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/customer_email"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Emails"
        ]
      },
      "post": {
        "summary": "Customer Emails By Contact",
        "description": "Contact specific email addresses can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "PostCustomerEmailForCustomerContact",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "CustomerContactId",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "type": "number"
          },
          {
            "name": "Customer email",
            "in": "body",
            "description": "Customer email to add.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/customer_email"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The customer email was created. Response body will include the customer email details.",
            "schema": {
              "$ref": "#/definitions/customer_email"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Emails"
        ]
      }
    },
    "/customers/{customerId}/customer_contacts/{CustomerContactId}/customer_emails": {
      "x-sage-pathtitle": "Customer emails for customer and customer contact",
      "get": {
        "summary": "Customer Emails For Customer And Customer Contact",
        "description": "Contact specific email addresses can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "GetCustomerEmailsForCustomerAndCustomerContact",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Unique Id of the customer.",
            "required": true,
            "type": "number"
          },
          {
            "name": "CustomerContactId",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "The collection of customer emails has been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/customer_email"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Emails"
        ]
      },
      "post": {
        "summary": "Customer Emails For Customer And Customer Contact",
        "description": "Contact specific email addresses can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "PostCustomerEmailForCustomerAndCustomerContact",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Customer email",
            "in": "body",
            "description": "Customer email to add.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/customer_email"
            }
          },
          {
            "name": "customerId",
            "in": "path",
            "description": "Unique Id of the customer.",
            "required": true,
            "type": "number"
          },
          {
            "name": "CustomerContactId",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "The customer email was created. Response body will include the customer email details.",
            "schema": {
              "$ref": "#/definitions/customer_email"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Emails"
        ]
      }
    },
    "/customer_emails/{Id}": {
      "x-sage-pathtitle": "Customer email",
      "get": {
        "summary": "Customer Email",
        "description": "Contact specific email addresses can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "GetCustomerEmail",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer email.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of customer email successfully returned.",
            "schema": {
              "$ref": "#/definitions/customer_email"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Emails"
        ]
      },
      "put": {
        "summary": "Customer Email",
        "description": "Contact specific email addresses can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "PutCustomerEmail",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer email.",
            "required": true,
            "type": "number"
          },
          {
            "name": "Customer email",
            "in": "body",
            "description": "Customer email to update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/customer_email"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The customer email was updated. Response body will include the customer email details.",
            "schema": {
              "$ref": "#/definitions/customer_email"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Emails"
        ]
      },
      "delete": {
        "summary": "Customer Email",
        "description": "Contact specific email addresses can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "DeleteCustomerEmail",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer email.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer email was deleted."
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Emails"
        ]
      }
    },
    "/customer_contacts/{CustomerContactId}/customer_emails/{Id}": {
      "x-sage-pathtitle": "Customer email for customer contact",
      "get": {
        "summary": "Customer Email For Customer Contact",
        "description": "Contact specific email addresses can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "GetCustomerEmailForCustomerContact",
        "parameters": [
          {
            "name": "CustomerContactId",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "type": "number"
          },
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer email.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of customer email successfully returned.",
            "schema": {
              "$ref": "#/definitions/customer_email"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Emails"
        ]
      },
      "put": {
        "summary": "Customer Email For Customer Contact",
        "description": "Contact specific email addresses can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "PutCustomerEmailForCustomerContact",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "CustomerContactId",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "type": "number"
          },
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer email.",
            "required": true,
            "type": "number"
          },
          {
            "name": "Customer email",
            "in": "body",
            "description": "Customer email to update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/customer_email"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The customer email was updated. Response body will include the customer email details.",
            "schema": {
              "$ref": "#/definitions/customer_email"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Emails"
        ]
      },
      "delete": {
        "summary": "Customer Email For Customer Contact",
        "description": "Contact specific email addresses can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "DeleteCustomerEmailForCustomerContact",
        "parameters": [
          {
            "name": "CustomerContactId",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "type": "number"
          },
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer email.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer email was deleted."
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Emails"
        ]
      }
    },
    "/customers/{customerId}/customer_contacts/{CustomerContactId}/customer_emails/{Id}": {
      "x-sage-pathtitle": "Customer email for customer and customer contact",
      "get": {
        "summary": "Customer Email For Customer And Customer Contact",
        "description": "Contact specific email addresses can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "GetCustomerEmailForCustomerAndCustomerContact",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Unique Id of the customer.",
            "required": true,
            "type": "number"
          },
          {
            "name": "CustomerContactId",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "type": "number"
          },
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer email.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of customer email successfully returned.",
            "schema": {
              "$ref": "#/definitions/customer_email"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Emails"
        ]
      },
      "put": {
        "summary": "Customer Email For Customer And Customer Contact",
        "description": "Contact specific email addresses can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "PutCustomerEmailForCustomerAndCustomerContact",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Unique Id of the customer.",
            "required": true,
            "type": "number"
          },
          {
            "name": "CustomerContactId",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "type": "number"
          },
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer email.",
            "required": true,
            "type": "number"
          },
          {
            "name": "Customer email",
            "in": "body",
            "description": "Customer email to update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/customer_email"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The customer email was updated. Response body will include the customer email details.",
            "schema": {
              "$ref": "#/definitions/customer_email"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Emails"
        ]
      },
      "delete": {
        "summary": "Customer Email For Customer And Customer Contact",
        "description": "Contact specific email addresses can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "DeleteCustomerEmailForCustomerAndCustomerContact",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Unique Id of the customer.",
            "required": true,
            "type": "number"
          },
          {
            "name": "CustomerContactId",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "type": "number"
          },
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer email.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer email was deleted."
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Emails"
        ]
      }
    },
    "/customer_faxes": {
      "x-sage-pathtitle": "Customer faxes",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "Enhanced endpoint field",
          "description": "This operation now includes the field 'date_time_created'."
        }
      ],
      "get": {
        "summary": "Customer Faxes",
        "description": "Contact specific fax numbers can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "GetCustomerFaxes",
        "responses": {
          "200": {
            "description": "The collection of customer faxes has been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/customer_fax"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Faxes"
        ]
      }
    },
    "/customer_contacts/{CustomerContactId}/customer_faxes": {
      "x-sage-pathtitle": "Customer faxes by contact",
      "get": {
        "summary": "Customer Faxes By Contact",
        "description": "Contact specific fax numbers can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "GetCustomerFaxesForCustomerContact",
        "parameters": [
          {
            "name": "CustomerContactId",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "The collection of customer faxes has been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/customer_fax"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Faxes"
        ]
      },
      "post": {
        "summary": "Customer Faxes By Contact",
        "description": "Contact specific fax numbers can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "PostCustomerFaxForCustomerContact",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "CustomerContactId",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "type": "number"
          },
          {
            "name": "Customer fax",
            "in": "body",
            "description": "Customer fax to add.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/customer_fax"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The customer fax was created. Response body will include the customer fax details.",
            "schema": {
              "$ref": "#/definitions/customer_fax"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Faxes"
        ]
      }
    },
    "/customers/{customerId}/customer_contacts/{CustomerContactId}/customer_faxes": {
      "x-sage-pathtitle": "Customer faxes for customer and customer contact",
      "get": {
        "summary": "Customer Faxes For Customer And Customer Contact",
        "description": "Contact specific fax numbers can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "GetCustomerFaxesForCustomerAndCustomerContact",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Unique Id of the customer.",
            "required": true,
            "type": "number"
          },
          {
            "name": "CustomerContactId",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "The collection of customer faxes has been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/customer_fax"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Faxes"
        ]
      },
      "post": {
        "summary": "Customer Faxes For Customer And Customer Contact",
        "description": "Contact specific fax numbers can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "PostCustomerFaxForCustomerAndCustomerContact",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Unique Id of the customer.",
            "required": true,
            "type": "number"
          },
          {
            "name": "CustomerContactId",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "type": "number"
          },
          {
            "name": "Customer fax",
            "in": "body",
            "description": "Customer fax to add.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/customer_fax"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The customer fax was created. Response body will include the customer fax details.",
            "schema": {
              "$ref": "#/definitions/customer_fax"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Faxes"
        ]
      }
    },
    "/customer_faxes/{Id}": {
      "x-sage-pathtitle": "Customer fax",
      "get": {
        "summary": "Customer Fax",
        "description": "Contact specific fax numbers can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "GetCustomerFax",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer fax.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of customer fax successfully returned.",
            "schema": {
              "$ref": "#/definitions/customer_fax"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Faxes"
        ]
      },
      "put": {
        "summary": "Customer Fax",
        "description": "Contact specific fax numbers can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "PutCustomerFax",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer fax.",
            "required": true,
            "type": "number"
          },
          {
            "name": "Customer fax",
            "in": "body",
            "description": "Customer fax to update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/customer_fax"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The customer fax was updated. Response body will include the customer fax details.",
            "schema": {
              "$ref": "#/definitions/customer_fax"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Faxes"
        ]
      },
      "delete": {
        "summary": "Customer Fax",
        "description": "Contact specific fax numbers can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "DeleteCustomerFax",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer fax.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer fax was deleted."
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Faxes"
        ]
      }
    },
    "/customer_contacts/{CustomerContactId}/customer_faxes/{Id}": {
      "x-sage-pathtitle": "Customer fax for customer contact",
      "get": {
        "summary": "Customer Fax For Customer Contact",
        "description": "Contact specific fax numbers can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "GetCustomerFaxForCustomerContact",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer fax.",
            "required": true,
            "type": "number"
          },
          {
            "name": "CustomerContactId",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of customer fax successfully returned.",
            "schema": {
              "$ref": "#/definitions/customer_fax"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Faxes"
        ]
      },
      "put": {
        "summary": "Customer Fax For Customer Contact",
        "description": "Update a customer fax.",
        "operationId": "PutCustomerFaxForCustomerContact",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer fax.",
            "required": true,
            "type": "number"
          },
          {
            "name": "CustomerContactId",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "type": "number"
          },
          {
            "name": "Customer fax",
            "in": "body",
            "description": "Customer fax to update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/customer_fax"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The customer fax was updated. Response body will include the customer fax details.",
            "schema": {
              "$ref": "#/definitions/customer_fax"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Faxes"
        ]
      },
      "delete": {
        "summary": "Customer Fax For Customer Contact",
        "description": "Delete a customer fax for customer contact",
        "operationId": "DeleteCustomerFaxForCustomerContact",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer fax.",
            "required": true,
            "type": "number"
          },
          {
            "name": "CustomerContactId",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer fax was deleted."
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Faxes"
        ]
      }
    },
    "/customers/{customerId}/customer_contacts/{CustomerContactId}/customer_faxes/{Id}": {
      "x-sage-pathtitle": "Customer fax for customer and customer contact",
      "get": {
        "summary": "Customer Fax For Customer And Customer Contact",
        "description": "Contact specific fax numbers can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "GetCustomerFaxForCustomerAndCustomerContact",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer fax.",
            "required": true,
            "type": "number"
          },
          {
            "name": "CustomerContactId",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "type": "number"
          },
          {
            "name": "customerId",
            "in": "path",
            "description": "Unique Id of the customer.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of customer fax successfully returned.",
            "schema": {
              "$ref": "#/definitions/customer_fax"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Faxes"
        ]
      },
      "put": {
        "summary": "Customer Fax For Customer And Customer Contact",
        "description": "Update a customer fax.",
        "operationId": "PutCustomerFaxForCustomerAndCustomerContact",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Customer fax",
            "in": "body",
            "description": "Customer fax to update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/customer_fax"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer fax.",
            "required": true,
            "type": "number"
          },
          {
            "name": "CustomerContactId",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "type": "number"
          },
          {
            "name": "customerId",
            "in": "path",
            "description": "Unique Id of the customer.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "The customer fax was updated. Response body will include the customer fax details.",
            "schema": {
              "$ref": "#/definitions/customer_fax"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Faxes"
        ]
      },
      "delete": {
        "summary": "Customer Fax For Customer And Customer Contact",
        "description": "Delete a customer fax for customer and customer contact.",
        "operationId": "DeleteCustomerFaxForCustomerAndCustomerContact",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer fax.",
            "required": true,
            "type": "number"
          },
          {
            "name": "CustomerContactId",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "type": "number"
          },
          {
            "name": "customerId",
            "in": "path",
            "description": "Unique Id of the customer.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer fax was deleted."
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Faxes"
        ]
      }
    },
    "/customer_mobiles": {
      "x-sage-pathtitle": "Customer mobiles",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "Enhanced endpoint field",
          "description": "This operation now includes the field 'date_time_created'."
        }
      ],
      "get": {
        "summary": "Customer Mobiles",
        "description": "Contact specific mobile numbers can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "GetCustomerMobiles",
        "responses": {
          "200": {
            "description": "The collection of customer mobiles has been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/customer_mobile"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Mobiles"
        ]
      }
    },
    "/customer_contacts/{CustomerContactId}/customer_mobiles": {
      "x-sage-pathtitle": "Customer mobiles by contact",
      "get": {
        "summary": "Customer Mobiles By Contact",
        "description": "Contact specific mobile numbers can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "GetCustomerMobilesForCustomerContact",
        "parameters": [
          {
            "name": "CustomerContactId",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "The collection of customer mobiles has been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/customer_mobile"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Mobiles"
        ]
      },
      "post": {
        "summary": "Customer Mobiles By Contact",
        "description": "Contact specific mobile numbers can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "PostCustomerMobileForCustomerContact",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "CustomerContactId",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "type": "number"
          },
          {
            "name": "Customer mobile",
            "in": "body",
            "description": "Customer mobile to add.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/customer_mobile"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The customer mobile was created. Response body will include the customer mobile details.",
            "schema": {
              "$ref": "#/definitions/customer_mobile"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Mobiles"
        ]
      }
    },
    "/customers/{customerId}/customer_contacts/{CustomerContactId}/customer_mobiles": {
      "x-sage-pathtitle": "Customer mobiles for customer and customer contact",
      "get": {
        "summary": "Customer Mobiles For Customer And Customer Contact",
        "description": "Contact specific mobile numbers can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "GetCustomerMobilesForCustomerAndCustomerContact",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Unique Id of the customer.",
            "required": true,
            "type": "number"
          },
          {
            "name": "CustomerContactId",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "The collection of customer mobiles has been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/customer_mobile"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Mobiles"
        ]
      },
      "post": {
        "summary": "Customer Mobiles For Customer And Customer Contact",
        "description": "Contact specific mobile numbers can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "PostCustomerMobileForCustomerAndCustomerContact",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Unique Id of the customer.",
            "required": true,
            "type": "number"
          },
          {
            "name": "CustomerContactId",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "type": "number"
          },
          {
            "name": "Customer mobile",
            "in": "body",
            "description": "Customer mobile to add.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/customer_mobile"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The customer mobile was created. Response body will include the customer mobile details.",
            "schema": {
              "$ref": "#/definitions/customer_mobile"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Mobiles"
        ]
      }
    },
    "/customer_mobiles/{Id}": {
      "x-sage-pathtitle": "Customer mobile",
      "get": {
        "summary": "Customer Mobile",
        "description": "Contact specific mobile numbers can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "GetCustomerMobile",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer mobile.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of customer mobile successfully returned.",
            "schema": {
              "$ref": "#/definitions/customer_mobile"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Mobiles"
        ]
      },
      "put": {
        "summary": "Customer Mobile",
        "description": "Contact specific mobile numbers can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "PutCustomerMobile",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer mobile.",
            "required": true,
            "type": "number"
          },
          {
            "name": "Customer mobile",
            "in": "body",
            "description": "Customer mobile to update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/customer_mobile"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The customer mobile was updated. Response body will include the customer mobile details.",
            "schema": {
              "$ref": "#/definitions/customer_mobile"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Customer Mobiles"
        ]
      },
[...]
